<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="../../d3.js"></script>
<script>
var width = 960,
	height = 500;

var dataset = [
	[
		{ x: 0, y: 5 },{ x: 1, y: 4 },{ x: 2, y: 2 },{ x: 3, y: 2 },
		{ x: 4, y: 3 },{ x: 5, y: 1 },{ x: 6, y: 2 },{ x: 7, y: 2 }
	],[
		{ x: 0, y: 2 },{ x: 1, y: 5 },{ x: 2, y: 3 },{ x: 3, y: 3 },
		{ x: 4, y: 1 },{ x: 5, y: 5 },{ x: 6, y: 3 },{ x: 7, y: 2 }
	],[
		{ x: 0, y: 5 },{ x: 1, y: 8 },{ x: 2, y: 1 },{ x: 3, y: 4 },
		{ x: 4, y: 3 },{ x: 5, y: 7 },{ x: 6, y: 2 },{ x: 7, y: 6 }
	]
];

var stack = d3.layout.stack()
			(dataset);

var xScale = d3.scale.ordinal()
	.domain(d3.range(dataset[0].length))
	.rangeRoundBands([0, width/2], 0.01);

var maxHeight=d3.max(dataset, function(d) {
			return d3.max(d, function(d) { return d.y0 + d.y; });
		});
		
var yScale = d3.scale.linear()
	.domain([0,	maxHeight])
	.range([0, height]);
	
var colors = d3.scale.category20();

var svg = d3.select("body")
			.append("svg")
			.attr("width", width)
			.attr("height", height);
	
var groups = svg.selectAll("g")
	.data(dataset)
	.enter()
	.append("g")
	.style("fill", function(d, i) { return colors(i); });

var area = d3.svg.area()
    .interpolate("cardinal")
    .x(function(d,i) { return xScale(i); })
    .y0(function(d) { return height-yScale(d.y0 + d.y); })
    .y1(function(d) { return height-yScale(d.y0); });
    
 groups.append("path")
      .attr("d", function(d) { return area(d); })
      .style("fill", function(d, i) { return colors(i); });
</script>