<!DOCTYPE html>
<meta charset="utf-8">
<body>
<style>

.node circle {
  fill:yellow ;
  stroke: red;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

</style>
<script src="../../d3.js"></script>
<script>
var data={
 "name": "AAA",
 "children": 
 [
  	  { "name": "BBB", 
  	  	"children": 
  	    [
  	      	{"name": "CCC", 
  	      	"children": 
  	      	[
  	          		{"name": "DDD", 
  	          		 "children":
					 [
							{"name": "EEE"}, 	{"name": "EEE"},
					      	{"name": "EEE"}, 	{"name": "EEE"},
					      	{"name": "EEE"}, 	{"name": "EEE"},
					      	{"name": "EEE"}, 	{"name": "EEE"},
					      	{"name": "EEE"}, 	{"name": "EEE"},
					      	{"name": "EEE"}, 	{"name": "EEE"},
					      	{"name": "EEE"}, 	{"name": "EEE"},
					      	{"name": "EEE"}, 	{"name": "EEE"}
					 ]},
			      	{"name": "DDD"}, 	{"name": "DDD"},
			      	{"name": "DDD"}, 	{"name": "DDD"},
			      	{"name": "DDD"}, 	{"name": "DDD"},
			      	{"name": "DDD"}, 	{"name": "DDD"},
			      	{"name": "DDD"}, 	{"name": "DDD"},
			      	{"name": "DDD"}, 	{"name": "DDD"},
			      	{"name": "DDD"}, 	{"name": "DDD"},
			      	{"name": "DDD"}, 	{"name": "DDD"}
  	      	]},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}, 	{"name": "CCC"},
	      	{"name": "CCC"}
  	  ]
	  },
      {"name": "BBB"},
      {"name": "BBB"},
      {"name": "BBB"}
 ]
};
var diameter = 960; 
var tree = d3.layout.tree()
    .size([diameter / 3 ,  diameter / 3 ]);

var diagonal = d3.svg.diagonal() 
    .projection(function(d) { return [d.y, d.x]; }); 
   
var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter-160)
  .append("g")
    .attr("transform", "translate(40,0)");

var nodes = tree.nodes(data), links = tree.links(nodes); 
var link = svg.selectAll(".link")
    .data(links)
  .enter().append("path")
    .attr("class", "link")
    .attr("d", diagonal);
var node = svg.selectAll(".node")
    .data(nodes)
 	  .enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
node.append("circle")
    .attr("r", 4.5);
</script>
