<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="../../d3.js"></script>
<script>

var width = 960,
    height = 500;

var force = d3.layout.force()
    .size([width, height]);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var color=d3.scale.category20c();

d3.json("force.json", function(error, graph) {console.log(error);
  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("stroke", "#999");

   //绘制节点
   var node = svg.selectAll(".node")
       .data(graph.nodes)
       .enter()
       .append("circle")
       .attr("fill", function(d,i){ return color(i);})
       .attr("r", 5)
       .attr("stroke","black")
       .attr("stroke-width",1).call(force.drag().on("dragend",function(d){
         	d.fixed=true;		//拖动结束后节点固定
       }));

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
});

</script>